@model Slider

<div class="body-wrapper">
    <div class="container-fluid">
        <div class="col-12">
            <!-- ---------------------
                                start Project Assinging
                            ---------------- -->
            <div class="card">
                <form asp-area="admin" asp-controller="Slider" asp-action="Update" class="form-horizontal r-separator" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="@Model.Id" />
                    <input type="hidden" asp-for="@Model.LeftPhoto" />
                    <input type="hidden" asp-for="@Model.RightPhoto" />
                    <div class="card-body">
                        <h5>Slayt Güncelle</h5>
                        <div class="form-group row align-items-center mb-0">
                            <label asp-for="@Model.SmallTitle" for="inputEmail3" class="col-3 text-end control-label col-form-label"></label>
                            <div class="col-9 border-start pb-2 pt-2">
                                <input required asp-for="@Model.SmallTitle" type="text" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label asp-for="@Model.Title" for="inputEmail3" class="col-3 text-end control-label col-form-label"></label>
                            <div class="col-9 border-start pb-2 pt-2">
                                <input required asp-for="@Model.Title" type="text" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label asp-for="@Model.Description" for="inputEmail3" class="col-3 text-end control-label col-form-label"></label>
                            <div class="col-9 border-start pb-2 pt-2">
                                <input required asp-for="@Model.Description" type="text" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label asp-for="@Model.LeftPhoto" for="inputEmail3" class="col-3 text-end control-label col-form-label"></label>
                            <div class="col-9 border-start pb-2 pt-2">
                                <input accept="image/*" asp-for="@Model.LeftPhoto" class="form-control" type="file" id="leftphoto">
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label asp-for="@Model.RightPhoto" for="inputEmail3" class="col-3 text-end control-label col-form-label"></label>
                            <div class="col-9 border-start pb-2 pt-2">
                                <input accept="image/*" asp-for="@Model.RightPhoto" class="form-control" type="file" id="rightphoto">
                            </div>
                        </div>


                    </div>
                    <div class="card-body">
                        <div class="form-group mb-0 text-end">
                            @if (ViewBag.Error != null)
                            {
                                <p class="text-center">@ViewBag.Error</p>
                            }
                            <a asp-area="admin" asp-controller="Slider" asp-action="Index" class="btn btn-dark rounded-pill px-4 waves-effect waves-light">
                                İptal
                            </a>
                            <button class="btn btn-success btn-lg rounded-pill px-4 waves-effect waves-light">
                                Ekle
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- ---------------------
                                end Project Assinging
                            ---------------- -->
        </div>
    </div>
</div>
