@model Communication

<div class="body-wrapper">
    <div class="container-fluid">
        <div class="col-12">
            <!-- ---------------------
                                start Project Assinging
                            ---------------- -->
            <div class="card">
                <form asp-area="admin" asp-controller="Communication" asp-action="Update" class="form-horizontal r-separator">
                    <div class="card-body">
                        <h5>İletişim Güncelle</h5>
                        <div class="form-group row align-items-center mb-0">
                            <label asp-for="@Model.Type" for="inputEmail3" class="col-3 text-end control-label col-form-label"></label>
                            <div class="col-9 border-start pb-2 pt-2">
                                <select asp-for="@Model.Type" required class="form-select mr-sm-2" id="inlineFormCustomSelect">
                                    @if (Model.Type == "map-pin")
                                    {
                                        <option selected="" value="map-pin">Konum</option>
                                        <option value="phone">Telefon</option>
                                        <option value="mail">Mail</option>
                                    }
                                    @if (Model.Type == "phone")
                                    {
                                        <option value="map-pin">Konum</option>
                                        <option selected="" value="phone">Telefon</option>
                                        <option value="mail">Mail</option>
                                    }
                                    @if (Model.Type == "mail")
                                    {
                                        <option value="map-pin">Konum</option>
                                        <option value="phone">Telefon</option>
                                        <option selected="" value="mail">Mail</option>
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label asp-for="@Model.Info" for="inputEmail3" class="col-3 text-end control-label col-form-label"></label>
                            <div class="col-9 border-start pb-2 pt-2">
                                <input required asp-for="@Model.Info" type="text" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                        <div class="form-group row align-items-center mb-0">
                            <label asp-for="@Model.DisplayIndex" for="inputEmail3" class="col-3 text-end control-label col-form-label"></label>
                            <div class="col-9 border-start pb-2 pt-2">
                                <input required asp-for="@Model.DisplayIndex" type="number" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group mb-0 text-end">
                            @if (ViewBag.Error != null)
                            {
                                <p class="text-center">@ViewBag.Error</p>
                            }
                            <a asp-area="admin" asp-controller="Communication" asp-action="Index" class="btn btn-dark rounded-pill px-4 waves-effect waves-light">
                                İptal
                            </a>
                            <button class="btn btn-success btn-lg rounded-pill px-4 waves-effect waves-light">
                                Güncelle
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- ---------------------
                                end Project Assinging
                            ---------------- -->
        </div>
    </div>
</div>