@using Uniq.WebUI.ViewModels;
@model MemberProfileVM

<main class="main">

    <!-- Dashboard Start -->
    <section class="user-dashboard">
        <div class="container-lg">
            <div class="row g-3 g-xl-4 tab-wrap">
                <div class="col-lg-4 col-xl-3 sticky">
                    <button class="setting-menu btn-solid btn-sm d-lg-none">Setting Menu <i class="arrow"></i></button>
                    <div class="side-bar">
                        <span class="back-side d-lg-none"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></span>
                        <div class="profile-box">
                            <div class="user-name">
                                <h5>@Model.Customer.Name @Model.Customer.Surname</h5>
                                <h6>@Model.Customer.Email</h6>
                            </div>
                        </div>

                        <ul class="nav nav-tabs nav-tabs2" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="dashboard-tab" data-bs-toggle="tab" data-bs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">
                                    Arayüz
                                    <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="orders-tab" data-bs-toggle="tab" data-bs-target="#orders" type="button" role="tab" aria-controls="orders" aria-selected="false">
                                    Siparişler
                                    <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="savedAddress-tab" data-bs-toggle="tab" data-bs-target="#savedAddress" type="button" role="tab" aria-controls="savedAddress" aria-selected="false">
                                    Adresler
                                    <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">
                                    Profil
                                    <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-8 col-xl-9">
                    <div class="right-content tab-content" id="myTabContent">
                        <!-- User Dashboard Start -->
                        <div class="tab-pane show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                            <div class="dashboard-tab">
                                <div class="title-box3">
                                    <h3>Hoşgeldin</h3>
                                </div>

                                <div class="row g-0 option-wrap">
                                    <div class="col-sm-6 col-xl-4">
                                        <a href="javascript:void(0)" data-class="orders" class="tab-box">
                                            <img src="https://themes.pixelstrap.com/oslo/assets/icons/svg/1.svg" alt="shopping bag">
                                            <h5>Siparişler</h5>
                                            <p>Siparişler Sayfasından Siparişleriniz Hakkında Bilgi Alabilirsiniz</p>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-xl-4">
                                        <a href="javascript:void(0)" data-class="profile" class="tab-box">
                                            <img src="https://themes.pixelstrap.com/oslo/assets/icons/svg/5.svg" alt="profile">
                                            <h5>Profil</h5>
                                            <p>Profil Sayfasından Profil Bilgilerinizi Güncelleyebilirsiniz</p>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-xl-4">
                                        <a href="javascript:void(0)" data-class="savedAddress" class="tab-box">
                                            <img src="https://themes.pixelstrap.com/oslo/assets/icons/svg/3.svg" alt="address">
                                            <h5>Adresler</h5>
                                            <p>Adresler Sayfasından Adres Ekleyebilirsiniz</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- User Dashboard End -->
                        <!-- Order Tabs Start -->
                        <div class="tab-pane" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                            <div class="cart-wrap order-content">
                                <div class="title-box3">
                                    <h3>Siparişler</h3>
                                    <p>Sipariş Durumlarınızı Buradan Kontrol Edebilirsiniz</p>
                                </div>

                                <div class="order-wraper">
                                    @foreach (var item in Model.Orders)
                                    {
                                        <div class="order-box">
                                            <div class="order-info">
                                                <div class="product-details">
                                                    <div class="product-content">
                                                        <p class="truncate-3">
                                                            Adres : @item.CustomerAdresses.Title - @item.CustomerAdresses.Country @item.CustomerAdresses.Province @item.CustomerAdresses.District @item.CustomerAdresses.Adress
                                                        </p>
                                                        <span>Kargo : <span>@item.ShippingType</span></span>
                                                        @{
                                                            decimal TotalAmount = 0;
                                                        }
                                                        @foreach (var item1 in item.SoldProducts)
                                                        {
                                                            <span>Ürün Adı : <span>@item1.Title</span></span>
                                                            <span>Ürün Adeti : <span>@item1.Quantity</span></span>
                                                            TotalAmount += item1.Quantity * item1.DiscountedPrice;
                                                        }

                                                        <span>Sipariş Tarihi : <span>@item.OrderDateTime.ToString("MM/dd/yyyy")</span></span>
                                                        <span>Toplam Tutar : <span>@TotalAmount TL</span></span>
                                                        <span>Sipariş Durumu : <span>@item.OrderStatus</span></span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                        <!-- Order Tabs End -->
                        <!-- Order Detail Tab Start -->
                        <div class="tab-pane" id="orders-details" role="tabpanel" aria-labelledby="orders-details">
                            <div class="order-detail-wrap order-content">
                                <div class="row g-3 g-md-4">
                                    <div class="col-12">
                                        <div class="order-summery-wrap mt-0 order-data">
                                            <div class="banner-box">
                                                <div class="media">
                                                    <div class="img">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-package"><line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
                                                    </div>
                                                    <div class="media-body">
                                                        <h2>Order Delivered</h2>
                                                        <span class="font-sm">Delivered On July 15 2022</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="product-details">
                                            <div class="img-box"><img src="../assets/images/fashion/product/front/4.jpg" alt="product"></div>
                                            <div class="product-content">
                                                <h5>Women’s long sleeve Jacket</h5>
                                                <p class="truncate-3">
                                                    Versatile sporty slogans short sleeve quirky laid back orange lux hoodies vests pins badges. Versatile sporty slogans short sleeve quirky laid back orange lux hoodies
                                                    vests pins badges. Cutting edge crops stone transparent.
                                                </p>
                                                <span>Prize : <span>$120.00</span></span>
                                                <span>Size : <span>M</span></span>
                                                <span>Order Id : <span>edf125qa1d35</span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="order-data summery-wrap">
                                            <div class="order-summery-box">
                                                <h5 class="cart-title">Price Details (1 Quantity)</h5>
                                                <ul class="order-summery">
                                                    <li>
                                                        <span>Bag total</span>
                                                        <span>$220.00</span>
                                                    </li>

                                                    <li>
                                                        <span>Bag savings</span>
                                                        <span class="theme-color">-$20.00</span>
                                                    </li>

                                                    <li>
                                                        <span>Coupon Discount</span>
                                                        <a href="offer.html" class="font-danger">$120.00</a>
                                                    </li>

                                                    <li>
                                                        <span>Delivery</span>
                                                        <span>$50.00</span>
                                                    </li>

                                                    <li class="pb-0">
                                                        <span>Total Amount</span>
                                                        <span>$270.00</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="row gy-3 gy-sm-0 g-3 g-md-4">
                                            <div class="col-sm-6">
                                                <div class="order-data general-details">
                                                    <!-- Payment Method Start -->
                                                    <div class="payment-method mt-0">
                                                        <h5 class="cart-title">Payment Method</h5>
                                                        <div class="payment-box">
                                                            <img src="../assets/icons/png/1.png" alt="card">
                                                            <span class="font-sm title-color"> **** **** **** 6502</span>
                                                        </div>
                                                    </div>
                                                    <!-- Payment Method End -->

                                                    <button class="btn-solid mb-line btn-sm mt-4">Get Invoice <i class="arrow"></i></button>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="order-data general-details">
                                                    <!-- Contact Start -->
                                                    <div class="payment-method mt-0">
                                                        <h5 class="cart-title">Contact Us</h5>

                                                        <div class="payment-box">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                                                            <span class="font-sm title-color">
                                                                <a class="content-color fw-500" href="tel:2554-4454-5646">2554-4454-5646</a>
                                                            </span>
                                                        </div>

                                                        <div class="payment-box mt-3">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                                                            <span class="font-sm title-color">
                                                                <a class="content-color fw-500" href="tel:5452-2545-2154">5452-2545-2154</a>
                                                            </span>
                                                        </div>

                                                        <div class="payment-box mt-3">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                                            <span class="font-sm title-color">
                                                                <a class="content-color fw-500" href="mailto:someone@example.com">someone@example.com</a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <!-- Contact End -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="order-data general-details">
                                            <!-- Address Section Start -->
                                            <div class="address-ordered p-0">
                                                <h5 class="cart-title">Order Address</h5>
                                                <div class="address">
                                                    <h5 class="font-default title-color">Nadine Vogt <span class="badges badges-pill badges-theme">Home</span></h5>
                                                    <p class="font-default content-color"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg> 1418 Riverwood Drive, Suite 3245 Cottonwood, CA 96052, United States</p>
                                                </div>
                                            </div>
                                            <!-- Address Section End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Order Detail Tab End -->
                        <!-- Saved Address Tabs Start -->
                        <div class="tab-pane" id="savedAddress" role="tabpanel" aria-labelledby="savedAddress-tab">
                            <div class="address-tab">
                                <div class="title-box3">
                                    <h3>Kayıtlı Adresleriniz</h3>
                                </div>

                                <div class="row g-3 g-md-4">
                                    @foreach (var item in Model.CustomerAdressesList)
                                    {
                                        <div class="col-md-6 col-lg-12 col-xl-6">
                                            <div class="address-box checked">
                                                <div class="radio-box">
                                                    <div class="option-wrap">
                                                        <a onclick="confirmDeleteAdress(@item.Id)"><span class="delet ms-0" data-bs-toggle="modal" data-bs-target="#conformation"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></span></a>
                                                    </div>
                                                </div>
                                                <div class="address-detail">
                                                    <h4>@item.Title</h4>
                                                    <p class="content-color font-default">@item.Country</p>
                                                    <p class="content-color font-default">@item.Province</p>
                                                    <p class="content-color font-default">@item.District</p>
                                                    <p class="content-color font-default">@item.Adress</p>

                                                </div>
                                            </div>
                                        </div>
                                    }


                                    <div class="col-md-6 col-lg-12 col-xl-6">
                                        <div class="address-box add-new d-flex flex-column gap-2 align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#addNewAddress">
                                            <span class="plus-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></span>
                                            <h4 class="theme-color font-xl fw-500">Yeni Adres Ekle</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Saved Address Tabs End -->
                        <!-- Profile Tabs Start -->
                        <div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="profile">
                                <div class="title-box3">
                                    <h3>Profil Bilgileri</h3>
                                </div>

                                <form asp-controller="MemberProfile" asp-action="UpdateCustomer" class="custom-form form-pill">
                                    <input type="hidden" asp-for="@Model.Customer.Id" />
                                    <input type="hidden" asp-for="@Model.Customer.GuidId" />
                                    <div class="row g-3 g-xl-4">
                                        <div class="col-sm-6">
                                            <div class="input-box">
                                                <label for="fullname">İsim</label>
                                                <input class="form-control" required id="fullname" asp-for="@Model.Customer.Name" type="text" value="@Model.Customer.Name">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="input-box">
                                                <label for="fullname">Soyisim</label>
                                                <input class="form-control" required id="fullname" asp-for="@Model.Customer.Surname" type="text" value="@Model.Customer.Surname">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="input-box">
                                                <label for="email">Email</label>
                                                <input readonly class="form-control" id="email" asp-for="@Model.Customer.Email" type="email" value="@Model.Customer.Email">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="input-box">
                                                <label for="mobile">Telefon</label>
                                                <input class="form-control" required id="mobile" asp-for="@Model.Customer.PhoneNo" type="text" value="@Model.Customer.PhoneNo">
                                            </div>
                                        </div>
                                        @{
                                            Model.Customer.Password = "";
                                        }
                                        <div class="col-sm-12">
                                            <div class="input-box">
                                                <label for="password">Yeni Şifre</label>
                                                <input class="form-control" placeholder="Boş Bırakırsanız Eski Şifreniz İle Devam Edebilirsiniz" id="password" asp-for="@Model.Customer.Password" type="text">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="btn-box">
                                        <button type="reset" class="btn-outline btn-sm">İptal</button>
                                        <button class="btn-solid btn-sm">Güncelle<i class="arrow"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Profile Tabs End -->
                        @if (TempData["Info"] != null)
                        {
                            <br />
                            <br />
                            <br />
                            <br />
                            <div class="title-box">
                                <span class="title-divider1"><span class="squre"></span><span class="squre"></span></span>
                                <p style="font-size:x-large;">@TempData["Info"]</p>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Dashboard End -->
</main>


<!-- Add New Address Modal Start -->
<div class="modal fade addnew-address" id="addNewAddress" tabindex="-1" aria-labelledby="addNewAddressLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewAddressLabel">Yeni Bir Adres Oluştur</h5>
                <span class="close-modal" data-bs-dismiss="modal"><i data-feather="x"></i></span>
            </div>

            <div class="modal-body full-grid-mobile">
                <form method="post" asp-controller="MemberProfile" asp-action="AddAdress" class="custom-form form-pill">
                    <div class="row g-3 g-md-4">
                        <div class="col-12">
                            <div class="input-box">
                                <label asp-for="@Model.CustomerAdresses.Title" for="name"></label>
                                <input asp-for="@Model.CustomerAdresses.Title" placeholder="Dükkan , Ev , Yazlık" class="form-control" type="text" required id="name" />
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="input-box">
                                <label asp-for="@Model.CustomerAdresses.Country" for="name"></label>
                                <input asp-for="@Model.CustomerAdresses.Country" class="form-control" type="text" required id="name" />
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="input-box">
                                <label asp-for="@Model.CustomerAdresses.Province" for="name"></label>
                                <input asp-for="@Model.CustomerAdresses.Province" class="form-control" type="text" required id="name" />
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="input-box">
                                <label asp-for="@Model.CustomerAdresses.District" for="name"></label>
                                <input asp-for="@Model.CustomerAdresses.District" class="form-control" type="text" required id="name" />
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="input-box">
                                <label asp-for="@Model.CustomerAdresses.Adress" for="name"></label>
                                <input asp-for="@Model.CustomerAdresses.Adress" class="form-control" type="text" required id="name" />
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <div class="btn-box">
                            <button type="button" class="btn btn-outline rounded-pill" data-bs-dismiss="modal" aria-label="Close">Kapat</button>
                            <button type="submit" class="btn btn-solid line-none rounded-pill">Ekle <i class="arrow"></i></button>
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>
<!-- Add New Address Modal End -->
